<!DOCTYPE html>
<!-- Esto es un comentario...  -->
<html xmlns="http://www.3w.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      >
    <head>
    <head th:replace="~{general/head :: head}"></head>


</head>
<body>

    <header th:replace="~{general/fragmentos :: header}"></header>


    <main>
        <h2>Bienvenido a TechShop</h2>
        <p>Contenido principal de la página</p>
    </main>

    <footer th:replace="~{general/fragmentos :: footer}"></footer>

</body>
</html>


